<div class="container mx-auto max-w-5xl">
  <div class="my-10 flex flex-wrap justify-between gap-3">
    <h1 class="text-2xl font-bold">{{ title }}</h1>
    <a
      [routerLink]="['/tier-maker', id]"
      type="button"
      class="btn btn-primary"
    >
      Editar
    </a>
  </div>
  <app-tier-table>
    <app-tier-row *ngFor="let row of table; let last = last" [isLast]="last">
      <div
        rowName
        *ngIf="row.rowName"
        class="flex w-36 flex-shrink-0 items-center justify-center text-2xl"
        [style.background]="row.background"
        [style.color]="row.color"
      >
        {{ row.rowName }}
      </div>
      <app-tier-item
        rowItems
        *ngFor="let item of row.rowItems"
        [tierItem]="item"
      ></app-tier-item>
    </app-tier-row>
  </app-tier-table>
</div>
