<div class="container mx-auto my-10 max-w-5xl">
  <div class="my-10 flex flex-wrap justify-between gap-3">
    <h1 class="text-2xl font-bold">{{ title }}</h1>
    <a [routerLink]="['/tier-list', id]" type="button" class="btn btn-primary">
      Guardar
    </a>
  </div>
  <app-tier-table
    (cdkDropListDropped)="moveRow($event)"
    cdkDropList
    cdkDropListGroup
  >
    <app-tier-row
      *ngFor="let row of table; let last = last; index as rowIndex"
      cdkDrag
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="moveItem($event)"
      (addItem)="openItemFormModal()"
      [cdkDropListData]="rowIndex"
      [cdkDragDisabled]="last"
      [isLast]="last"
      [isEditing]="true"
    >
      <div
        rowName
        cdkDragHandle
        *ngIf="row.rowName"
        class="flex w-36 flex-shrink-0 items-center justify-center text-2xl"
        [style.background]="row.background"
        [style.color]="row.color"
      >
        {{ row.rowName }}
      </div>
      <app-tier-item
        cdkDrag
        rowItems
        *ngFor="let item of row.rowItems; index as itemIndex"
        [tierItem]="item"
        [isEditing]="true"
        (edit)="openItemFormModal($event, rowIndex, itemIndex)"
        (delete)="deleteItem($event, rowIndex, itemIndex)"
      >
        <div *cdkDragPlaceholder class="w-36"></div>
      </app-tier-item>
    </app-tier-row>
  </app-tier-table>
</div>

<app-modal *ngIf="showItemFormModal" (closeModal)="closeItemFormModal()">
  <app-tier-item-form
    [tierItem]="tierItem"
    (save)="addItem($event, table.length - 1)"
    (update)="editItem($event, tierRowIndex, tierItemIndex)"
    (cancel)="closeItemFormModal()"
  ></app-tier-item-form>
</app-modal>
