<form [formGroup]="tierItemForm" class="bg-zinc-800">
  <label class="mb-5 block">
    Nombre * <br />
    <input
      formControlName="name"
      type="text"
      class="border-danger w-full border-b-2 bg-zinc-800 p-1 text-sm focus:outline-none"
    />
  </label>
  <label class="mb-5 block">
    Url <br />
    <input
      formControlName="url"
      type="text"
      class="w-full border-b-2 bg-zinc-800 p-1 text-sm focus:outline-none"
    />
  </label>
  <label class="mb-5 block">
    Url de imagen * <br />
    <input
      formControlName="image"
      type="text"
      class="w-full border-b-2 bg-zinc-800 p-1 text-sm focus:outline-none"
    />
  </label>
  <div class="flex flex-wrap gap-1 pt-5">
    <button type="button" class="btn btn-secondary" (click)="cancel.emit()">
      Cancelar
    </button>
    <button type="button" class="btn btn-primary" (click)="emitSave()">
      {{ tierItem ? "Actualizar" : "Guardar" }}
    </button>
  </div>
</form>
